<h1>Results</h1>

<p>This is your text:<br> <%= @text %></p>

<p>Yout text has <%= @word_count %> words.</p>

<p>It will take you around<br> <%= @reading_time %> seconds to read this.</p>

<p>Top ten of your most frequently used words:<br><%= @frequency[0..9] %></p>
<!-- Wie mache ich eine liste? mit ol und li -->

<%= link_to "Home", "/" %>