<h1> <%= @concert.artist %> </h1>

<p> Venue: <%= @concert.venue %></p>
<p> City: <%= @concert.city %></p>
<p> Date: <%= @concert.date %></p>
<p> Price: <%= @concert.price %></p>
<p> Description: <%= @concert.description %></p>

<%= link_to "See all", concerts_path %>