<h1> <%= @user.name %> </h1>

<p> <%= @user.email %></p>

<%= link_to "Home", users_path %>
<%= link_to "Delete account", user_path(@user), :confirm => "Are you sure?", :method => :delete %>

<%= link_to "Add product", new_user_product_path(@user) %>